.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  color: rgb(30, 30, 30);
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  max-width: 700px;
  box-shadow: 0px 5px 8px -9px solid rgba(0, 0, 0, 0.5);
}

.post__info {
  display: flex;
  align-items: center;
}

.post__info > h4 {
  margin-left: 10px;
  cursor: pointer;
  font-size: 13px;
}
.post__info > h4:hover {
  text-decoration: underline;
}

.post__info > small {
  margin-left: 10px;
}

.post__body {
  display: flex;
  flex-direction: column;
}

.post__body > .post__question {
  margin-top: 10px;
  font-weight: light;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.post__body > .post__question > p:hover {
  text-decoration: none !important;
}

.post__question > .read-more {
  color: rgb(0, 145, 255);
}

.post__question > .post__btnAnswer {
  margin-left: auto;
  cursor: pointer;
  padding: 7px;
  background-color: rgb(237, 176, 85);
  outline: none;
  border: none;
  color: black;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
}

.post__btnAnswer:hover {
  background-color: rgb(237, 167, 63);
  color: #fff;
  transform: scale(1.1);
  transition: 200ms ease;
}

.post__question > p:hover {
  text-decoration: underline;
}

.post__body > .post__answer > p {
  margin-bottom: 10px;
}

.post__body > img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.post__footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.post__footer > .MuiSvgIcon-root {
  color: rgb(237, 176, 85);
  margin-right: 40px;
  cursor: pointer;
}

.liked {
  /* color: black; */
}

.post__footerAction {
  background-color: rgb(237, 176, 85);
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
}
.post__footerAction > .MuiSvgIcon-root {
  color: rgb(24, 24, 24);
  margin-right: 40px;
  cursor: pointer;
}

.post__footerAction > .MuiSvgIcon-root:hover {
  color: rgb(0, 140, 255);
  margin-right: 40px;
  transform: scale(1.1);
  transition: 200ms ease;
}

.post__footerLeft {
  margin-left: auto;
}

.post__footerLeft > .MuiSvgIcon-root {
  color: rgb(237, 176, 85);
  cursor: pointer;
  margin-left: 30px;
}

.post__footerLeft > .MuiSvgIcon-root:hover {
  transform: scale(1.1);
  transition: 200ms ease;
}

.modal__question {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.modal__question > h2 {
  color: rgb(237, 176, 85);
  font-weight: 600;
  margin-bottom: 5px;
}

.modal__question > p {
  color: gray;
  font-size: small;
}

.modal__question > p > .name {
  color: rgb(237, 176, 85);
  font-weight: bold;
}

.modal__answer {
  display: flex;
  padding-top: 20px;
  flex: 1;
  color: rgb(237, 176, 85);
}

.modal__answer > textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 15px;
  color: rgb(237, 176, 85);
}

.modal__button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  width: 100%;
}

.modal__button > .cancel {
  border: none;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.modal__button > .cancel:hover {
  color: red;
}

.modal__button > .add {
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: rgb(237, 176, 85);
  color: black;
  font-weight: 700;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  width: 50%;
}

.modal__button > .add:hover {
  background-color: rgb(237, 167, 63);
  color: #222;
}

.react-responsive-modal-modal {
  /* width: 600px; */
  height: 400px;
}

.quill {
  width: 100%;
  height: 150px;
}
