.querious {
  width: 100%;
  min-width: fit-content;
}

.querious__contents {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: rgb(20, 20, 20);
  min-width: fit-content;
  width: 100%;
}

.querious__content {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  gap: 30px;
}

.react-responsive-modal-modal {
  width: 90vw;
  height: 90vh;
  background: rgb(28, 28, 28);
}

.quill {
  height: 50vh;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.75);
}
