.queriousBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  background-color: rgb(240, 240, 240);
  color: rgb(30, 30, 30);
  border-radius: 5px;
  max-width: 700px;
}

.queriousBox:hover {
  border: none;
}

.queriousBox__info {
  display: flex;
  align-items: center;
}

.queriousBox__info > h5 {
  color: rgb(129, 129, 129);
  font-weight: bold;
  margin-left: 10px;
  font-size: large;
}

.queriousBox__querious {
  display: flex;
  margin-top: 8px;
}
